# Ignore single file backups
*~

# GnuPG stuff
gnupg/*.gpg
gnupg/.\#*

# Vim stuff
vim/.netrwhist

# Private files
bash/private_auto.d/
zsh/private_auto.d/

# Local files
bash/local_auto.d/
zsh/local_auto.d/

# Cache files
zsh/cache/

# Zgen files
zsh/zgen/
